:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;

}

.container{
  max-width: 960;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
 
  }